<nav class="navbar">
    <a class="productLink" routerLinkActive='active' routerLink='component1'>
        <img src="../../../assets/sidebar/aloe.svg" alt="" width="45" height="28">
        </a>
    <a class="productLink" routerLinkActive='active' routerLink='component2'>
        <img src="../../../assets/sidebar/aloe-vera.svg" alt="" width="45" height="28">
        </a>
    <a class="productLink" routerLinkActive='active' routerLink='component3'>
        <img src="../../../assets/sidebar/Grupo 5.svg" alt="" width="45" height="28">
        </a>
</nav>