.navbar {
    /* background-color: black; */
    padding: 10px;
    display: flexbox;
    flex-direction: row;
    justify-content: center;
    background:  white;
    position: relative;
    height: 11.8%;
}
.productLink{
    margin-left: 20px;
    margin-right: 20px;
}
.productLink:active{
    background-color: yellow;
}