<footer>
    <div>
      <section>
        <a href="https://twitter.com/henrysalo" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
        <a href="https://www.instagram.com/henrysalomon/" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
        <a href="https://www.linkedin.com/in/hssl/" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <a href="https://github.com/henrysalo" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
    </div>
    <div>
        <section>
            <p>
              <i>Sábila Villa Isis, más que una planta, una metodología de vida</i>
            </p>
        </section>
    </div>
    <div>
      © 2021 Desarrollado por HenrySalo
    </div>
  </footer>